*{
    background: white;
}


html {
    /*font-size: 62.5%; /*I'm defining a base font-size of 62.5% to have the
    convenience  of sizing rems in a way that is similar to using px:
    body { font-size: 14px; font-size: 1.4rem; } equals =14px */

    font-size:  2vmin; /* now scaling with the window-widht*/
    font-family: 'Roboto Mono', monospace;
    background-color: lightgray;


}

.buttonGroup{
    background: lightblue;
}
#createdButton{
    background: red;
}

body {
    width: 80vmin;
    height: auto;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 0 2rem 2rem 2rem;
    border: 0.1rem solid black;
}


p {
    color: black;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.15rem;
}


h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 2rem 0;
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 1rem;
}

